spawn-at-startup "xwayland-satellite"

// prefer-no-csd true

input {
    keyboard {
        xkb { layout "us"; }
        repeat-delay 200
        repeat-rate 45
        numlock
    }
    mod-key "Super"
}

layout {
    gaps 100
    background-color "transparent"

    center-focused-column "always"
    empty-workspace-above-first
    always-center-single-column

    default-column-width { proportion 0.4; }

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 0.95
    }
    focus-ring {
        off
        width 2
        active-color   "#ffbe29"
        inactive-color "#6f7880"
        urgent-color   "#f05050"
    }
    shadow {
        on
        softness 20
        spread 10
        offset x=0 y=0
        draw-behind-window false
        color "#00000080"
        inactive-color "#00000010"
    }
}

// list with `niri msg windows`
window-rule {
    draw-border-with-background false
    clip-to-geometry true
    geometry-corner-radius 5
}
window-rule {
    match app-id="^thunar|com.mitchellh.ghostty$"
    default-column-width { proportion 0.3333; }
    default-window-height { proportion 0.75; }
}
window-rule {
    match app-id="firefox"
    default-column-width { proportion 0.8; }
}
window-rule {
    match app-id="md.Obsidian"
    default-column-width { proportion 0.4; }
    default-window-height { proportion 0.5; }
}

// Place the DMS/quickshell layer behind the overview.
layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}

// list with `niri msg action`, check names with `wev`
binds {
    Mod+Space   repeat=false { spawn "dms" "ipc" "call" "spotlight" "toggle"; }
    Mod+T       repeat=false { spawn "ghostty"; }
    Mod+E       repeat=false { spawn "thunar"; }
    Mod+Q       repeat=false { close-window; }

    Mod+R   repeat=false { switch-preset-column-width; }
    Mod+F   { maximize-column; }
    Mod+H   { set-window-width "-10%"; }
    Mod+L   { set-window-width "+10%"; }
    Mod+J   { set-window-height "+10%"; }
    Mod+K   { set-window-height "-10%"; }

    Mod+Prior   { focus-workspace-up; }
    Mod+Next    { focus-workspace-down; }
    Mod+Up      { focus-window-or-workspace-up; }
    Mod+Down    { focus-window-or-workspace-down; }
    Mod+Left    { focus-column-left; }
    Mod+Right   { focus-column-right; }

    Mod+Shift+Up      { move-window-up-or-to-workspace-up; }
    Mod+Shift+Down    { move-window-down-or-to-workspace-down; }
    Mod+Shift+Left    { consume-or-expel-window-left; }
    Mod+Shift+Right   { consume-or-expel-window-right; }

    Mod+Shift+3  { spawn "dms" "screenshot" "full"; }
    Mod+Shift+4  { spawn "dms" "screenshot"; }
    Mod+Shift+5  { spawn "dms" "screenshot" "window"; }

    Mod+O             { toggle-overview; }
    Mod+Shift+Slash   { show-hotkey-overlay; }
    Mod+Shift+E       { quit; }
}

animations {
    workspace-switch {
        duration-ms 100
        curve "ease-out-expo"
    }
    horizontal-view-movement {
        duration-ms 100
        curve "ease-out-expo"
    }
    window-movement {
        duration-ms 100
        curve "ease-out-expo"
    }
    overview-open-close {
        duration-ms 100
        curve "ease-out-expo"
    }
}
