spawn-at-startup "noctalia"

spawn-at-startup "xwayland-satellite"

// prefer-no-csd true

input {
    mod-key "Super"
    keyboard {
        xkb { layout "us"; }
        repeat-delay 200
        repeat-rate 50
        numlock
    }
    mouse {
        scroll-factor 3.0
    }
}

layout {
    gaps 100
    background-color "transparent"

    center-focused-column "always"
    empty-workspace-above-first
    always-center-single-column

    default-column-width { proportion 0.4; }

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 0.95
    }
    focus-ring {
        off
        width 2
        active-color   "#ffbe29"
        inactive-color "#6f7880"
        urgent-color   "#f05050"
    }
    shadow {
        on
        softness 30
        spread 10
        offset x=0 y=0
        draw-behind-window false
        color "#00000080"
        inactive-color "#00000010"
    }
}
window-rule {
    draw-border-with-background false
    clip-to-geometry true
    geometry-corner-radius 5
}

// list with `niri msg windows`
window-rule {
    match app-id="^thunar|com.mitchellh.ghostty$"
    default-column-width { proportion 0.3333; }
    default-window-height { proportion 0.75; }
}
window-rule {
    match app-id="^firefox|chromium-browser$"
    default-column-width { proportion 0.5; }
}
window-rule {
    match app-id="md.Obsidian"
    default-column-width { proportion 0.4; }
    default-window-height { proportion 0.5; }
}
window-rule {
    match app-id="xarchiver"
    open-floating true
    default-column-width { proportion 0.25; }
    default-window-height { proportion 0.333; }
}
window-rule {
    match app-id="org.xfce.ristretto"
    open-floating true
    default-column-width { proportion 0.5; }
    default-window-height { proportion 0.5; }
}
// Place the DMS/quickshell layer behind the overview.
layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}

// check key names with `wev`
// check niri actions with `niri msg action`
// check noctalia actions with `noctalia msg --help`
binds {
    Mod+B       repeat=false { spawn "chromium"; }
    Mod+V       repeat=false { spawn "ghostty"; }
    Mod+Z       repeat=false { spawn "zeditor"; }
    Mod+D       repeat=false { spawn "thunar"; }
    Mod+X       repeat=false { close-window; }

    Mod+R   repeat=false { switch-preset-column-width; }
    Mod+F   repeat=false { maximize-column; }
    Mod+H   { set-window-width "-10%"; }
    Mod+L   { set-window-width "+10%"; }
    Mod+J   { set-window-height "+10%"; }
    Mod+K   { set-window-height "-10%"; }

    Mod+Prior   { focus-workspace-up; }
    Mod+Next    { focus-workspace-down; }
    Mod+Up      { focus-window-or-workspace-up; }
    Mod+Down    { focus-window-or-workspace-down; }
    Mod+Left    { focus-column-left; }
    Mod+Right   { focus-column-right; }

    Mod+Shift+Up      { move-window-up-or-to-workspace-up; }
    Mod+Shift+Down    { move-window-down-or-to-workspace-down; }
    Mod+Shift+Left    { move-column-left-or-to-monitor-left; }
    Mod+Shift+Right   { move-column-right-or-to-monitor-right; }
    Mod+Shift+H       { consume-or-expel-window-left; }
    Mod+Shift+L       { consume-or-expel-window-right; }

    // For dms-shell
    // Mod+Space   repeat=false { spawn "dms" "ipc" "call" "spotlight" "toggle"; }
    // Mod+Shift+3   repeat=false { spawn "dms" "screenshot" "full"; }
    // Mod+Shift+4   repeat=false { spawn "dms" "screenshot"; }
    // Mod+Shift+5   repeat=false { spawn "dms" "screenshot" "window"; }
    // Mod+Shift+L       repeat=false { spawn "dms" "ipc" "call" "powermenu" "toggle"; }
    Mod+Space              repeat=false { spawn "noctalia" "msg" "panel-toggle" "launcher"; }
    Mod+comma              repeat=false { spawn "noctalia" "msg" "settings-toggle"; }
    Mod+Shift+3            repeat=false { spawn "noctalia" "msg" "screenshot-fullscreen" "pick"; }
    Mod+Shift+4            repeat=false { spawn "noctalia" "msg" "screenshot-region"; }
    Mod+Shift+5            repeat=false { spawn "noctalia" "msg" "screenshot-annotate"; }
    Mod+Shift+Escape       repeat=false { spawn "noctalia" "msg" "panel-toggle" "session"; }
    XF86AudioMute          repeat=false { spawn "noctalia" "msg" "volume-mute"; }
    XF86AudioLowerVolume   { spawn "noctalia" "msg" "volume-down"; }
    XF86AudioRaiseVolume   { spawn "noctalia" "msg" "volume-up"; }

    Mod+O             repeat=false { toggle-overview; }
    Mod+Shift+Slash   repeat=false { show-hotkey-overlay; }
    Mod+Shift+E       repeat=false { quit; }
}

animations {
    workspace-switch {
        duration-ms 100
        curve "ease-out-expo"
    }
    horizontal-view-movement {
        duration-ms 100
        curve "ease-out-expo"
    }
    window-movement {
        duration-ms 100
        curve "ease-out-expo"
    }
    window-resize {
        duration-ms 70
        curve "ease-out-expo"
    }
    overview-open-close {
        duration-ms 100
        curve "ease-out-expo"
    }
}
